<div class="container">
  <div class="card-deck pt-5 "style="width:100%" >
    <div class="card ">
      <img class="card-img-top" src="../assets/image/pic1.png" alt="Card image cap">
      <div class="card-body">
        <a routerLink="/login" routerLinkActive="active" class="btn btn-primary stretched-link">USER</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/image/pic2.png" alt="Card image cap">
      <div class="card-body">
        <a routerLink="#" class="btn btn-primary stretched-link">MENTOR</a>
      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../assets/image/pic3.jpg" alt="Card image cap">
      <div class="card-body">
        <a routerLink="#" class="btn btn-primary stretched-link">ADMIN</a>
      </div>
    </div>
  </div>
</div>